header{
    text-align: center;
    color:rgb(102, 81, 242);
    text-decoration: underline;  
}
h2 {
    color: #2C3E50; 
    text-decoration: underline;
  }
  
  h3 {
    color: #E74C3C; 
    text-decoration: underline;
  }
.images{
    text-align: center;
    margin:80px 0;

}
.images li{
    display:inline-block;
}


  body {
    background-image: url('background.jpg');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center center; 
    color: #333; 
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
  }